@font-face {
  font-family: "Intel";
  src: url("./font/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

li {
  text-align: left;
}

.Web-body {
  min-height: 600px;
  margin-bottom: auto;
}

.main-content {
  margin-top: 50px;
  margin-left: 220px;
  margin-right: 5%;
}

:root {
  --accent-color: #413535; /* nice */
  --primary-colour: #306797; /* <> */
  --background-color: white;
  --border-color: #dbdbdb;
  --code-bg-color: #f8f8f8;
  --font-color: #1f1f1f;
  --codemirror-color: var(--font-color);
  --header-color: #000000;
  --link-color: #2077b2;
  --control-text-color: #667176;
  --side-bar-bg-color: #fafafa;
  --hr-color: var(--primary-colour);
  --body-font: "Nunito", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --heading-font: "Roboto Slab", serif;
  --border-radius: 2px;
  --document-horizontal-margin: 80px;
  --document-padding-x: 19ch;
  --font-size: 16px;
  --h1-fontsize: 2.7rem;
  --h2-fontsize: 2.2rem;
  --h3-fontsize: 1.7rem;
  --h4-fontsize: 1.4rem;
  --h5-fontsize: 1.2rem;
  --h6-fontsize: 1.1rem;
  --line-height: 50px;
  --main-content-margin: 0 auto;
  --main-content-max-width: 100ch;
  --monospace-font-size: 15px;
  --monospace-font: "FiraCode", "Inconsolata", "Consolas", "Menlo",
    "Liberation Mono", Courier, monospace;
  --monospace-line-height: 1.4;
  --monospace: var(--monospace-font); /* Fixes source code mode */
  --nav-width: 200px;
  --vertical-padding: 40px;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
headers settings
*/
h1 {
  font-size: 2.2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-top: 1.8rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background-color: var(--h-bg-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.5rem solid var(--h-border-color);
  border-radius: 0.4rem;
  text-align: center;
}

h1 {
  content: "";
  text-align: center;
  font-size: var(--h1-fontsize);
  margin: 1.5rem 10%;
}

h3 {
  font-size: 1.6rem;
  text-decoration: underline double var(--h-border-color) 0.15rem;
}
h4 {
  text-decoration: underline dotted var(--h-border-color) 0.2rem;
}

html {
  font-size: 19px;
}

body {
  font-family: "Intel", sans-serif;
}

/* ------ */

/* Fuck 15px for iPhone Start */

.row{margin:0;}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}

  /* Fuck 15px for iPhone Start */
