
@font-face{
  font-family:'Nalieta';
  src: url('./font/Nalieta-nR5EP.otf') format('opentype');
}

@font-face{
  font-family:'SalmproMedium';
  src: url('./font/SalmaproMedium-0Wooo.otf') format('opentype');
}


.App-logo {
  font-family: 'Nalieta';
  font-weight: 3000;
  font-size: 200%;
  color:white;

  pointer-events:none;
  -webkit-user-select: none;
}

li{text-align:left}

.Web-body {
    min-height:600px;
    margin-bottom:auto;
}

.main-content{
    margin-top:50px;
    margin-left: 220px;
    margin-right:5%;
}


:root {
  --accent-color: #696969; /* nice */
  --primary-colour: #306797; /* <> */
  --background-color: white;
  --border-color: #dbdbdb;
  --code-bg-color: #f8f8f8;
  --font-color: #1f1f1f;
  --codemirror-color: var(--font-color);
  --header-color: #000000;
  --link-color: #2077b2;
  --control-text-color: #667176;
  --side-bar-bg-color: #fafafa;
  --hr-color: var(--primary-colour);
  --body-font: "Nunito", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --heading-font: "Roboto Slab", serif;
  --border-radius: 2px;
  --document-horizontal-margin: 80px;
  --document-padding-x: 19ch;
  --font-size: 16px;
  --h1-fontsize: 2.7rem;
  --h2-fontsize: 2.2rem;
  --h3-fontsize: 1.7rem;
  --h4-fontsize: 1.4rem;
  --h5-fontsize: 1.2rem;
  --h6-fontsize: 1.1rem;
  --line-height: 50px;
  --main-content-margin: 0 auto;
  --main-content-max-width: 100ch;
  --monospace-font-size: 15px;
  --monospace-font: "FiraCode", "Inconsolata", "Consolas", "Menlo", "Liberation Mono", Courier, monospace;
  --monospace-line-height: 1.4;
  --monospace: var(--monospace-font); /* Fixes source code mode */
  --nav-width: 200px;
  --vertical-padding: 40px;
}

p{
	font-size: 1rem;
	line-height: 1.6rem;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
headers settings
*/c
h1 {
	font-size: 2.2rem;
	text-align: center;
	text-shadow: 0.15rem 0.15rem 0.3rem rgb(187, 187, 187);
}
h2 {
	font-size: 1.8rem;
	margin-top: 1.8rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	background-color: var(--h-bg-color);
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: 0.5rem solid var(--h-border-color);
	border-radius: 0.4rem;
  text-align: center;
}

h1 {
  content: '';
  text-align: center;
  font-size: var(--h1-fontsize);
  margin: 1.5rem 10%;

}


h1:after {
  content: '';
	/* height: 1px; */
	width: 30%;
	display: block;
	margin: .2em auto 0;
	border-bottom: 2px solid var(--primary-colour);
}

h3 {
	font-size: 1.6rem;
	text-decoration: underline double var(--h-border-color) 0.15rem;
}
h4 {
	text-decoration: underline dotted var(--h-border-color) 0.2rem;
}

html {
	font-size: 19px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  font-family: 'Montserrat', sans-serif;
}

/* ------ */
