img.textbook {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

img.Edtech {
  width: 300px;
  height: auto;
  display: block;
  margin: auto;
  margin-left: 20px;
}

img.educaiton-development {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
  margin-left: 30px;
}

img.metaverse_cover {
  width: 250px;
  height: auto;
  display: block;
  margin: auto;
  margin-right: 30px;
}

/* Thick red border */
hr.new1 {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 2. Make nav sticky */
main > nav {
  position: sticky;
  top: 2rem;
  align-self: start;
}

/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
  color: #333;
  font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
  padding-left: 0;
  border-left: 1px solid #efefef;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: 0.125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
  color: #666;
}

/** Poor man's reset **/

ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  margin-left: 1rem;
}

/** page layout **/
main {
  display: grid;
  grid-template-columns: 1fr 15em;
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
}

img.float-right {
  float: right;
}
