
.md-content body {
  font-family: 'Intel', sans-serif;
}

:root{
  --padding: 21px;
  --bg-color: #f5f8eb;
  --accent-color: #a0bb2e;
  --font-family: 'Intel';
  --font-display: 'Intel';
}


.md-content{
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--padding);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 2;
  font-size: 21px;
  text-align: justify;
}

.md-content h1{
  font-size:1.5em;
}

.md-content h2{
  font-size:1.2em;
  transform: translateX(-5px);
  font-family: var(--font-display);
  margin-bottom: 0;
}


.md-content img{
  max-width:2000px;
  height:auto;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  display: block;
}

a.article{
  color: var(--text-color);
}

.md-content strong{
  display: inline-block;
  transform: translateX(-5px);
  font-size: 80%;
  line-height: 1;
  font-family: var(--font-display);
}

.md-content strong:before{
  content: '';
  margin-right: 5px;
  margin-top: 34px;
  display: inline-block;
}
