.navbar{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.nav-link{
    color:white;
}

.nav-sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0px;
    z-index: 100;
}

.App-logo{
  width:150px;
  height:auto;
}
.selected{
  background-color: #00BFFF ;
}
