.card-size {
  min-width: 300px;
  margin-right: 10%;
  max-width: 1200px;
  height: auto;
}

.img-size {
  width: 200px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.card-position {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;

}

.card-title {
  font-size: 150%;
}
.float-left {
  float: left;
}
.intro-color {
  color: gray;
}
.float-right {
  float: right;
}
